/.qodo
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
/.idea
/.gitattributes
/.upsun/local

########## MAGENTO2 ##########



/shop/pub/robots.txt
/shop/pub/sitemap
/shop/pub/sitemap.xml
/shop/app/config_sandbox
/shop/app/code/Magento/TestModule*
/shop/lib/internal/flex/uploader/.actionScriptProperties
/shop/lib/internal/flex/uploader/.flexProperties
/shop/lib/internal/flex/uploader/.project
/shop/lib/internal/flex/uploader/.settings
/shop/lib/internal/flex/varien/.actionScriptProperties
/shop/lib/internal/flex/varien/.flexLibProperties
/shop/lib/internal/flex/varien/.project
/shop/lib/internal/flex/varien/.settings
/shop/node_modules
/shop/.grunt
/shop/Gruntfile.js
/shop/package.json
/shop/.php_cs
/shop/.php_cs.cache
/shop/grunt-config.json
/shop/pub/media/*.*
!/shop/pub/media/.htaccess
/shop/pub/media/attribute/*
!/shop/pub/media/attribute/.htaccess
/shop/pub/media/analytics/*
/shop/pub/media/catalog/*
!/shop/pub/media/catalog/.htaccess
/shop/pub/media/customer/*
!/shop/pub/media/customer/.htaccess
/shop/pub/media/downloadable/*
!/shop/pub/media/downloadable/.htaccess
/shop/pub/media/favicon/*
/shop/pub/media/import/*
!/shop/pub/media/import/.htaccess
/shop/pub/media/logo/*
/shop/pub/media/custom_options/*
!/shop/pub/media/custom_options/.htaccess
/shop/pub/media/theme/*
/shop/pub/media/theme_customization/*
!/shop/pub/media/theme_customization/.htaccess
/shop/pub/media/wysiwyg/*
!/shop/pub/media/wysiwyg/.htaccess
/shop/pub/media/tmp/*
!/shop/pub/media/tmp/.htaccess
/shop/pub/media/captcha/*
/shop/pub/media/sitemap/*
!/shop/pub/media/sitemap/.htaccess
/shop/pub/static/*
!/shop/pub/static/.htaccess

/shop/var/*
!/shop/var/.htaccess
/shop/vendor/*
!/shop/vendor/.htaccess
/shop/generated/*
!/shop/generated/.htaccess


/save-shop


########## TYPO3 ##########

/cms/var/*
/cms/vendor/*
/cms/public/index.php
/cms/public/typo3
/cms/public/typo3conf/ext/*
/cms/public/typo3temp/*
/cms/public/fileadmin/*
/cms/config/ENABLE_INSTALL_TOOL
/cms/public/FIRST_INSTALL
/cms/public/uploads/*
/cms/public/_assets/
/cms/public/.htaccess
/cms/public/.htpasswd
.qodo
